src/main/resources/quote.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://epam.com/quote/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="quote"
	targetNamespace="http://epam.com/quote/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://epam.com/quote/">
			<xsd:complexType name="GetQuoteResponseMessage">
				<xsd:sequence>
					<xsd:element name="time" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
						<xsd:complexType name="GetQuoteRequestMessage">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetQuoteRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="message" type="tns:GetQuoteRequestMessage" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetQuoteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="message" type="tns:GetQuoteResponseMessage" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetQuoteRequest">
		<wsdl:part element="tns:GetQuoteRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetQuoteResponse">
		<wsdl:part element="tns:GetQuoteResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="quote">
		<wsdl:operation name="GetQuote">
			<wsdl:input message="tns:GetQuoteRequest" />
			<wsdl:output message="tns:GetQuoteResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="quoteSOAP" type="tns:quote">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetQuote">
			<soap:operation soapAction="http://epam.com/quote/GetQuote" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="quote">
		<wsdl:port binding="tns:quoteSOAP" name="quoteSOAP">
			<soap:address location="http://localhost:8080/apache-cfx/getQuote" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>